{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "LogicAppsManagementClient",
        "version": "2016-06-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-06-01/logicAppsManagementClient.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "web-logicAppsManagementClient",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Web/connectionGateways": {
            "get": {
                "description": "Gets a list of gateways under a subscription",
                "operationId": "ConnectionGateways_List",
                "parameters": [
                    {
                        "description": "Subscription Id",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "API Version",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The gateway definitions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of connection gateway definitions",
                                    "properties": {
                                        "value": {
                                            "description": "Collection of connection gateways",
                                            "items": {
                                                "additionalProperties": false,
                                                "allOf": [
                                                    {
                                                        "additionalProperties": false,
                                                        "description": "A resource",
                                                        "properties": {
                                                            "etag": {
                                                                "description": "Resource ETag",
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "description": "Resource id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags",
                                                                "example": {
                                                                    "SampleTagName": "SampleTagValue"
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "The gateway definition",
                                                "properties": {
                                                    "properties": {
                                                        "properties": {
                                                            "backendUri": {
                                                                "description": "The URI of the backend",
                                                                "type": "string"
                                                            },
                                                            "connectionGatewayInstallation": {
                                                                "allOf": [
                                                                    {
                                                                        "additionalProperties": false,
                                                                        "properties": {
                                                                            "id": {
                                                                                "description": "Resource reference id",
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "description": "Resource reference type",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object",
                                                                        "x-abstract": true
                                                                    }
                                                                ],
                                                                "description": "The gateway installation reference",
                                                                "properties": {
                                                                    "location": {
                                                                        "description": "Resource reference location",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource reference name",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "contactInformation": {
                                                                "description": "The gateway admin",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "description": {
                                                                "description": "The gateway description",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The gateway display name",
                                                                "type": "string"
                                                            },
                                                            "machineName": {
                                                                "description": "The machine name of the gateway",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "The gateway status",
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Lists all of the connection gateways",
                "tags": [
                    "Connection Gateways"
                ],
                "x-ms-examples": {
                    "List all connection gateways": {
                        "parameters": {
                            "api-version": "2016-06-01",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGateways/test123",
                                            "location": "westus",
                                            "name": "test123",
                                            "properties": {
                                                "backendUri": "https://WABI-WEST-US-redirect.analysis.windows.net",
                                                "connectionGatewayInstallation": {
                                                    "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGatewayInstallations/865dccd1-5d5c-45fe-b5a0-249d4de4134c",
                                                    "location": "westus",
                                                    "name": "865dccd1-5d5c-45fe-b5a0-249d4de4134c",
                                                    "type": "Microsoft.Web/locations/connectionGatewayInstallations"
                                                },
                                                "contactInformation": [
                                                    "test123@microsoft.com"
                                                ],
                                                "displayName": "test123",
                                                "machineName": "TEST123",
                                                "status": "Installed"
                                            },
                                            "type": "Microsoft.Web/connectionGateways"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Web/customApis": {
            "get": {
                "description": "Gets a list of all custom APIs for a subscription id",
                "operationId": "CustomApis_List",
                "parameters": [
                    {
                        "description": "Subscription Id",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "API Version",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The number of items to be included in the result",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "description": "Skip Token",
                        "in": "query",
                        "name": "skiptoken",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of custom APIs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of custom API definitions",
                                    "properties": {
                                        "value": {
                                            "description": "Collection of custom APIs",
                                            "items": {
                                                "additionalProperties": false,
                                                "allOf": [
                                                    {
                                                        "additionalProperties": false,
                                                        "description": "A resource",
                                                        "properties": {
                                                            "etag": {
                                                                "description": "Resource ETag",
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "description": "Resource id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags",
                                                                "example": {
                                                                    "SampleTagName": "SampleTagValue"
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "A custom API",
                                                "properties": {
                                                    "properties": {
                                                        "additionalProperties": false,
                                                        "description": "Custom API properties",
                                                        "properties": {
                                                            "apiDefinitions": {
                                                                "additionalProperties": false,
                                                                "description": "API Definitions",
                                                                "properties": {
                                                                    "modifiedSwaggerUrl": {
                                                                        "description": "The modified swagger URL",
                                                                        "type": "string"
                                                                    },
                                                                    "originalSwaggerUrl": {
                                                                        "description": "The original swagger URL",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "apiType": {
                                                                "description": "The API type",
                                                                "enum": [
                                                                    "NotSpecified",
                                                                    "Rest",
                                                                    "Soap"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ApiType"
                                                                }
                                                            },
                                                            "backendService": {
                                                                "additionalProperties": false,
                                                                "description": "The API backend service",
                                                                "properties": {
                                                                    "serviceUrl": {
                                                                        "description": "The service URL",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "brandColor": {
                                                                "description": "Brand color",
                                                                "type": "string"
                                                            },
                                                            "capabilities": {
                                                                "description": "The custom API capabilities",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "connectionParameters": {
                                                                "additionalProperties": {
                                                                    "description": "Connection provider parameters",
                                                                    "properties": {
                                                                        "oAuthSettings": {
                                                                            "description": "OAuth settings for the connection provider",
                                                                            "properties": {
                                                                                "clientId": {
                                                                                    "description": "Resource provider client id",
                                                                                    "type": "string"
                                                                                },
                                                                                "clientSecret": {
                                                                                    "description": "Client Secret needed for OAuth",
                                                                                    "type": "string"
                                                                                },
                                                                                "customParameters": {
                                                                                    "additionalProperties": {
                                                                                        "description": "OAuth settings for the API",
                                                                                        "properties": {
                                                                                            "options": {
                                                                                                "description": "Options available to this parameter",
                                                                                                "type": "object"
                                                                                            },
                                                                                            "uiDefinition": {
                                                                                                "description": "UI definitions per culture as caller can specify the culture",
                                                                                                "type": "object"
                                                                                            },
                                                                                            "value": {
                                                                                                "description": "Value of the setting",
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "description": "OAuth parameters key is the name of parameter",
                                                                                    "type": "object"
                                                                                },
                                                                                "identityProvider": {
                                                                                    "description": "Identity provider",
                                                                                    "type": "string"
                                                                                },
                                                                                "properties": {
                                                                                    "description": "Read only properties for this oauth setting.",
                                                                                    "type": "object"
                                                                                },
                                                                                "redirectUrl": {
                                                                                    "description": "Url",
                                                                                    "type": "string"
                                                                                },
                                                                                "scopes": {
                                                                                    "description": "OAuth scopes",
                                                                                    "items": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": {
                                                                            "description": "Type of the parameter",
                                                                            "enum": [
                                                                                "string",
                                                                                "securestring",
                                                                                "secureobject",
                                                                                "int",
                                                                                "bool",
                                                                                "object",
                                                                                "array",
                                                                                "oauthSetting",
                                                                                "connection"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": false,
                                                                                "name": "ConnectionParameterType"
                                                                            }
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "description": "Connection parameters",
                                                                "type": "object"
                                                            },
                                                            "description": {
                                                                "description": "The custom API description",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The display name",
                                                                "type": "string"
                                                            },
                                                            "iconUri": {
                                                                "description": "The icon URI",
                                                                "type": "string"
                                                            },
                                                            "runtimeUrls": {
                                                                "description": "Runtime URLs",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "swagger": {
                                                                "description": "The JSON representation of the swagger",
                                                                "type": "object"
                                                            },
                                                            "wsdlDefinition": {
                                                                "additionalProperties": false,
                                                                "description": "The WSDL definition",
                                                                "properties": {
                                                                    "content": {
                                                                        "description": "The WSDL content",
                                                                        "type": "string"
                                                                    },
                                                                    "importMethod": {
                                                                        "description": "The WSDL import method",
                                                                        "enum": [
                                                                            "NotSpecified",
                                                                            "SoapToRest",
                                                                            "SoapPassThrough"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "WsdlImportMethod"
                                                                        }
                                                                    },
                                                                    "service": {
                                                                        "additionalProperties": false,
                                                                        "description": "The service with name and endpoint names",
                                                                        "properties": {
                                                                            "endpointQualifiedNames": {
                                                                                "description": "List of the endpoints' qualified names",
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "qualifiedName": {
                                                                                "description": "The service's qualified name",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "qualifiedName"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "url": {
                                                                        "description": "The WSDL URL",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "List of custom APIs",
                "tags": [
                    "Custom APIs"
                ],
                "x-ms-examples": {
                    "List all custom APIs": {
                        "parameters": {
                            "api-version": "2016-06-01",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/customApis/testCustomApi",
                                            "location": "northcentralus",
                                            "name": "testCustomApi",
                                            "properties": {
                                                "apiDefinitions": {
                                                    "modifiedSwaggerUrl": "https://tempuri.org/modified.json",
                                                    "originalSwaggerUrl": "https://tempuri.org/swagger.json"
                                                },
                                                "apiType": "Rest",
                                                "capabilities": [],
                                                "description": "",
                                                "displayName": "testCustomApi",
                                                "iconUri": "/testIcon.svg",
                                                "runtimeUrls": [
                                                    "https://tempuri.org",
                                                    "http://tempuri.org"
                                                ],
                                                "wsdlDefinition": {}
                                            },
                                            "type": "Microsoft.Web/customApis"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/connectionGatewayInstallations": {
            "get": {
                "description": "Gets a list of installed gateways that the user is an admin of, in a specific subscription and at a certain location",
                "operationId": "ConnectionGatewayInstallations_List",
                "parameters": [
                    {
                        "description": "Subscription Id",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The location",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "API Version",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The gateway installations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of connection gateway installation definitions",
                                    "properties": {
                                        "value": {
                                            "description": "Collection of connection gateway installations",
                                            "items": {
                                                "additionalProperties": false,
                                                "allOf": [
                                                    {
                                                        "additionalProperties": false,
                                                        "description": "A resource",
                                                        "properties": {
                                                            "etag": {
                                                                "description": "Resource ETag",
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "description": "Resource id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags",
                                                                "example": {
                                                                    "SampleTagName": "SampleTagValue"
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "The gateway installation",
                                                "properties": {
                                                    "properties": {
                                                        "properties": {
                                                            "backendUri": {
                                                                "description": "The URI of the backend",
                                                                "type": "string"
                                                            },
                                                            "connectionGateway": {
                                                                "allOf": [
                                                                    {
                                                                        "additionalProperties": false,
                                                                        "properties": {
                                                                            "id": {
                                                                                "description": "Resource reference id",
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "description": "Resource reference type",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object",
                                                                        "x-abstract": true
                                                                    }
                                                                ],
                                                                "description": "The gateway installation reference",
                                                                "properties": {
                                                                    "location": {
                                                                        "description": "Resource reference location",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource reference name",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "contactInformation": {
                                                                "description": "The gateway admin",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "description": {
                                                                "description": "The gateway description",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The gateway display name",
                                                                "type": "string"
                                                            },
                                                            "machineName": {
                                                                "description": "The machine name of the gateway",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "The gateway status",
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Gets a list of installed gateways that the user is an admin of",
                "tags": [
                    "Connection Gateways"
                ],
                "x-ms-examples": {
                    "List all installations in a region": {
                        "parameters": {
                            "api-version": "2016-06-01",
                            "location": "westus",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGatewayInstallations/test123",
                                            "location": "westus",
                                            "name": "test123",
                                            "properties": {
                                                "backendUri": "https://WABI-WEST-US-redirect.analysis.windows.net",
                                                "connectionGateway": {
                                                    "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGateways/865dccd1-5d5c-45fe-b5a0-249d4de4134c",
                                                    "location": "westus",
                                                    "name": "865dccd1-5d5c-45fe-b5a0-249d4de4134c",
                                                    "type": "Microsoft.Web/connectionGateways"
                                                },
                                                "contactInformation": [
                                                    "test123@microsoft.com"
                                                ],
                                                "displayName": "test123",
                                                "machineName": "TEST123",
                                                "status": "Installed"
                                            },
                                            "type": "Microsoft.Web/locations/connectionGatewayInstallations"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/connectionGatewayInstallations/{gatewayId}": {
            "get": {
                "description": "Get a specific installed gateway that the user is an admin of, in a specific subscription and at a certain location",
                "operationId": "ConnectionGatewayInstallations_Get",
                "parameters": [
                    {
                        "description": "Subscription Id",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The location",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gateway ID",
                        "in": "path",
                        "name": "gatewayId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "API Version",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The gateway installation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": false,
                                    "allOf": [
                                        {
                                            "additionalProperties": false,
                                            "description": "A resource",
                                            "properties": {
                                                "etag": {
                                                    "description": "Resource ETag",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "Resource id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags",
                                                    "example": {
                                                        "SampleTagName": "SampleTagValue"
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "The gateway installation",
                                    "properties": {
                                        "properties": {
                                            "properties": {
                                                "backendUri": {
                                                    "description": "The URI of the backend",
                                                    "type": "string"
                                                },
                                                "connectionGateway": {
                                                    "allOf": [
                                                        {
                                                            "additionalProperties": false,
                                                            "properties": {
                                                                "id": {
                                                                    "description": "Resource reference id",
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "description": "Resource reference type",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "x-abstract": true
                                                        }
                                                    ],
                                                    "description": "The gateway installation reference",
                                                    "properties": {
                                                        "location": {
                                                            "description": "Resource reference location",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource reference name",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "contactInformation": {
                                                    "description": "The gateway admin",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "description": {
                                                    "description": "The gateway description",
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The gateway display name",
                                                    "type": "string"
                                                },
                                                "machineName": {
                                                    "description": "The machine name of the gateway",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The gateway status",
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Gets an installed gateway that the user is an admin of",
                "tags": [
                    "Connection Gateways"
                ],
                "x-ms-examples": {
                    "Get a specific gateway installation": {
                        "parameters": {
                            "api-version": "2016-06-01",
                            "gatewayId": "5de68756-ccff-49a4-8bd6-9f6059ece8ea",
                            "location": "westus",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGatewayInstallations/test123",
                                    "location": "westus",
                                    "name": "test123",
                                    "properties": {
                                        "backendUri": "https://WABI-WEST-US-redirect.analysis.windows.net",
                                        "connectionGateway": {
                                            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGateways/865dccd1-5d5c-45fe-b5a0-249d4de4134c",
                                            "location": "westus",
                                            "name": "865dccd1-5d5c-45fe-b5a0-249d4de4134c",
                                            "type": "Microsoft.Web/connectionGateways"
                                        },
                                        "contactInformation": [
                                            "test123@microsoft.com"
                                        ],
                                        "displayName": "test123",
                                        "machineName": "TEST123",
                                        "status": "Installed"
                                    },
                                    "type": "Microsoft.Web/locations/connectionGatewayInstallations"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/extractApiDefinitionFromWsdl": {
            "post": {
                "description": "Parses the specified WSDL and extracts the API definition",
                "operationId": "CustomApis_ExtractApiDefinitionFromWsdl",
                "parameters": [
                    {
                        "description": "Subscription Id",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The location",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "API Version",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Swagger of the API extracted from the WSDL",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "summary": "Returns API definition from WSDL",
                "tags": [
                    "Custom APIs"
                ],
                "x-ms-examples": {
                    "Extract definition from WSDL": {
                        "parameters": {
                            "api-version": "2016-06-01",
                            "location": "westus",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                            "wsdlDefinition": {
                                "url": "https://tempuri.org/testWsdlDefinition"
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "info": {
                                        "title": "basic",
                                        "version": "1.0"
                                    },
                                    "paths": {
                                        "/sampleEndpoint": {
                                            "get": {
                                                "operationId": "http://tempuri.org/ITestService/sampleEndpoint",
                                                "parameters": [],
                                                "produces": [
                                                    "application/json"
                                                ],
                                                "responses": {
                                                    "200": {
                                                        "description": "OK"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "swagger": "2.0"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "additionalProperties": false,
                                "description": "The WSDL definition",
                                "properties": {
                                    "content": {
                                        "description": "The WSDL content",
                                        "type": "string"
                                    },
                                    "importMethod": {
                                        "description": "The WSDL import method",
                                        "enum": [
                                            "NotSpecified",
                                            "SoapToRest",
                                            "SoapPassThrough"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                            "modelAsString": true,
                                            "name": "WsdlImportMethod"
                                        }
                                    },
                                    "service": {
                                        "additionalProperties": false,
                                        "description": "The service with name and endpoint names",
                                        "properties": {
                                            "endpointQualifiedNames": {
                                                "description": "List of the endpoints' qualified names",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "qualifiedName": {
                                                "description": "The service's qualified name",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "qualifiedName"
                                        ],
                                        "type": "object"
                                    },
                                    "url": {
                                        "description": "The WSDL URL",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "WSDL definition",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/listWsdlInterfaces": {
            "post": {
                "description": "This returns the list of interfaces in the WSDL",
                "operationId": "CustomApis_ListWsdlInterfaces",
                "parameters": [
                    {
                        "description": "Subscription Id",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The location",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "API Version",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of interfaces",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of custom API WSDL interfaces",
                                    "properties": {
                                        "value": {
                                            "description": "Collection of WSDL interfaces",
                                            "items": {
                                                "additionalProperties": false,
                                                "description": "The service with name and endpoint names",
                                                "properties": {
                                                    "endpointQualifiedNames": {
                                                        "description": "List of the endpoints' qualified names",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "qualifiedName": {
                                                        "description": "The service's qualified name",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "qualifiedName"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Lists WSDL interfaces",
                "tags": [
                    "Custom APIs"
                ],
                "x-ms-examples": {
                    "List the WSDL interfaces": {
                        "parameters": {
                            "api-version": "2016-06-01",
                            "location": "westus",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                            "wsdlDefinition": {
                                "url": "https://tempuri.org/testWsdlDefinition"
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "endpointQualifiedNames": [
                                                "http://tempuri.org/ws",
                                                "http://tempuri.org/basic"
                                            ],
                                            "qualifiedName": "testWsdl"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "additionalProperties": false,
                                "description": "The WSDL definition",
                                "properties": {
                                    "content": {
                                        "description": "The WSDL content",
                                        "type": "string"
                                    },
                                    "importMethod": {
                                        "description": "The WSDL import method",
                                        "enum": [
                                            "NotSpecified",
                                            "SoapToRest",
                                            "SoapPassThrough"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                            "modelAsString": true,
                                            "name": "WsdlImportMethod"
                                        }
                                    },
                                    "service": {
                                        "additionalProperties": false,
                                        "description": "The service with name and endpoint names",
                                        "properties": {
                                            "endpointQualifiedNames": {
                                                "description": "List of the endpoints' qualified names",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "qualifiedName": {
                                                "description": "The service's qualified name",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "qualifiedName"
                                        ],
                                        "type": "object"
                                    },
                                    "url": {
                                        "description": "The WSDL URL",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "WSDL definition",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis": {
            "get": {
                "description": "Gets a list of managed APIs",
                "operationId": "ManagedApis_List",
                "parameters": [
                    {
                        "description": "The location",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription Id",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "API Version",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of managed APIs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of managed API definitions",
                                    "properties": {
                                        "value": {
                                            "description": "Collection of managed APIs",
                                            "items": {
                                                "additionalProperties": false,
                                                "allOf": [
                                                    {
                                                        "additionalProperties": false,
                                                        "description": "A resource",
                                                        "properties": {
                                                            "etag": {
                                                                "description": "Resource ETag",
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "description": "Resource id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags",
                                                                "example": {
                                                                    "SampleTagName": "SampleTagValue"
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "A managed API definition",
                                                "properties": {
                                                    "properties": {
                                                        "additionalProperties": false,
                                                        "description": "API resource properties",
                                                        "properties": {
                                                            "apiDefinitionUrl": {
                                                                "description": "URL where the swagger can be downloaded from",
                                                                "type": "string"
                                                            },
                                                            "apiDefinitions": {
                                                                "additionalProperties": false,
                                                                "description": "API Definitions",
                                                                "properties": {
                                                                    "modifiedSwaggerUrl": {
                                                                        "description": "The modified swagger URL",
                                                                        "type": "string"
                                                                    },
                                                                    "originalSwaggerUrl": {
                                                                        "description": "The original swagger URL",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "backendService": {
                                                                "additionalProperties": false,
                                                                "description": "The API backend service",
                                                                "properties": {
                                                                    "serviceUrl": {
                                                                        "description": "The service URL",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "capabilities": {
                                                                "description": "The managed API capabilities",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "connectionParameters": {
                                                                "additionalProperties": {
                                                                    "description": "Connection provider parameters",
                                                                    "properties": {
                                                                        "oAuthSettings": {
                                                                            "description": "OAuth settings for the connection provider",
                                                                            "properties": {
                                                                                "clientId": {
                                                                                    "description": "Resource provider client id",
                                                                                    "type": "string"
                                                                                },
                                                                                "clientSecret": {
                                                                                    "description": "Client Secret needed for OAuth",
                                                                                    "type": "string"
                                                                                },
                                                                                "customParameters": {
                                                                                    "additionalProperties": {
                                                                                        "description": "OAuth settings for the API",
                                                                                        "properties": {
                                                                                            "options": {
                                                                                                "description": "Options available to this parameter",
                                                                                                "type": "object"
                                                                                            },
                                                                                            "uiDefinition": {
                                                                                                "description": "UI definitions per culture as caller can specify the culture",
                                                                                                "type": "object"
                                                                                            },
                                                                                            "value": {
                                                                                                "description": "Value of the setting",
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "description": "OAuth parameters key is the name of parameter",
                                                                                    "type": "object"
                                                                                },
                                                                                "identityProvider": {
                                                                                    "description": "Identity provider",
                                                                                    "type": "string"
                                                                                },
                                                                                "properties": {
                                                                                    "description": "Read only properties for this oauth setting.",
                                                                                    "type": "object"
                                                                                },
                                                                                "redirectUrl": {
                                                                                    "description": "Url",
                                                                                    "type": "string"
                                                                                },
                                                                                "scopes": {
                                                                                    "description": "OAuth scopes",
                                                                                    "items": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": {
                                                                            "description": "Type of the parameter",
                                                                            "enum": [
                                                                                "string",
[...]
